@media only screen and (min-width: 320px) and (max-width: 414px) {
  #main-nav {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 60px;
  }

  .side-container {
    display: none;
  }
}